@keyframes parallax {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.wrapper {
  z-index: -1;
  height: min(480px, 60vw);

  overflow: hidden;
  position: relative;

  animation: parallax linear;
  animation-duration: 1ms;
  animation-timeline: scroll();

  margin-block-end: -64px;

  @media screen and (min-width: 960px) {
    margin-block-end: -160px;
  }
}

.nextImage {
  object-fit: cover;
  object-position: 50% 100%;

  filter: contrast(calc(1 + var(--faded-contrast-factor) * 0.5))
    brightness(calc(1 + var(--faded-brightness-factor) * 0.5));
}
