.title {
  text-wrap: pretty;
  word-break: auto-phrase;

  margin: 0.5rem var(--margin-h) 0;
  font-feature-settings: "palt", "kern";
  letter-spacing: 0.05rem;
  font-size: 1.4rem;
  line-height: 1.2;

  color: var(--color-text-accent);

  @media screen and (min-width: 960px) {
    font-size: 1.8rem;
    margin-block: 0.5rem;
  }
}

.dates {
  color: var(--color-text-secondary);
  display: flex;
  column-gap: 16px;
  margin: .5rem var(--margin-h) 0;

  flex-wrap: wrap;
}

.tags {
  margin: 0.5rem var(--margin-h) 0;
  color: var(--color-text-secondary);

  display: flex;
  gap: 0.5ch;

  & > a {
    color: inherit;
  }
}
