.root {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.tick {
  display: grid;
  grid-template-columns: max-content 1fr;

  text-wrap: pretty;
  word-break: auto-phrase;

  border: 1px solid transparent;
  background-color: var(--color-bg-card);

  padding: 8px 16px 12px;
  border-radius: 8px;
  gap: 0.5em;

  svg {
    transform: translate(0, 2px);
  }

  &[data-disabled] {
    color: var(--color-text-secondary);
    border-color: var(--color-border);
    background-color: unset;
  }
}
