.wrapper {
  height: min(240px, 40vw);

  overflow: hidden;
  position: relative;
}

.nextImage {
  object-fit: cover;
  object-position: 0 calc(50% - 10px);

  filter: contrast(calc(1 + var(--faded-contrast-factor) * 0.5))
    brightness(calc(1 + var(--faded-brightness-factor) * 0.5));
}
