.wrapper {
  height: min(240px, 40vw);

  overflow: hidden;
  position: relative;
  opacity: 0.5;

  animation: appear 2s ease-in-out;

  // 上部が消え入る表現
  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      170deg,
      var(--color-bg) 0,
      var(--color-bg) 25%,
      transparent 80%
    );
  }
}

.nextImage {
  height: min(320px, 40vw);
  object-fit: cover;
  object-position: center;
  opacity: 0.1;
  filter: saturate(0.5);
}
