.root {
  padding-inline: 16px;
  margin-block: 4rem;
}

.card {
  border: 1px solid var(--color-text-accent);
  background-color: var(--color-bg-card);
  border-radius: 8px;

  max-width: 420px;
  margin-inline: auto;

  font-feature-settings: "palt", "kern";

  .ul {
    text-wrap: pretty;
    word-break: auto-phrase;

    margin-block-start: 1rem;
    margin-block-end: 1.5rem;
    margin-inline: 16px;

    // page.module.scss による上書きの防止
    font-feature-settings: inherit;

    li {
      list-style: none;
      line-height: 1.5;
      padding-block: 6px;

      a {
        color: inherit;
      }

      &[data-depth="3"] {
        padding-inline-start: 24px;
        padding-block: 2px;
        font-size: 0.9rem;
        margin-block-start: -2px;
      }
    }
  }
}

.title {
  text-align: center;
  margin-top: 0.75rem;

  color: var(--color-text-accent);
  font-weight: bold;
}
