.root {
  padding: 10px 16px 24px 0;
  background-color: var(--color-bg-card);
  border-radius: 8px;
}

.title {
  text-align: center;
}

.ul {
  margin-block-start: 16px;
  list-style: none;
}

.item {
  padding: 4px 0;
  margin-inline-start: 16px;
  font-size: 0.9rem;
  font-feature-settings: "palt", "kern";

  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: first baseline;

  text-wrap: pretty;
  word-break: auto-phrase;

  a:any-link {
    color: inherit;
  }

  color: var(--color-text-secondary);

  &[data-depth="3"] {
    & > .bullet {
      margin-inline-end: 24px;
      clip-path: circle(4px at 50% 50%);
    }
  }

  &[aria-current="true"] {
    color: var(--color-text-accent);

    & > .bullet {
      opacity: 1;
      background-color: var(--color-text-accent);
    }
  }

  &:hover {
    color: var(--color-text);

    a {
      text-decoration: none;
    }
  }
}

.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-inline-end: 8px;
  clip-path: circle(6px at 50% 50%);

  background-color: var(--color-text);
  opacity: 0.3;
}
