.root {
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-modal);
  backdrop-filter: blur(4px);

  position: sticky;
  top: 0;
  z-index: 1;

  padding: 0 16px;

  @media screen and (min-width: 960px) {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr minmax(0, 50rem) 24rem 1fr;

    & > * {
      grid-column: 2/4;
    }

    .contents {
      margin: 0 32px;
    }
  }

  // 下スクロール中は隠す

  transition:
    transform 300ms ease-out,
    opacity 300ms ease-out;
  transform: translate(0, 0);

  &[data-scroll-direction="down"] {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.title {
  text-align: center;

  font-weight: 300;
  padding: 16px 0;
  font-size: clamp(0.8rem, 6vw, 1.5rem);

  & > a:is(:link, :visited, :hover, :active) {
    color: inherit;
  }
}

.links {
  display: none;
}

@media screen and (min-width: 960px) {
  .title {
    padding: 16px 0 8px;
    text-align: unset;
  }

  .links {
    padding: 0 0 16px;
    display: flex;
    gap: 8px;
    font-weight: 300;

    & > a:is(:link, :visited, :hover, :active) {
      color: var(--color-text-secondary);
    }
  }
}
