.root {
  padding: 16px 0;

  @media screen and (min-width: 960px) {
    margin-inline: 16px;
  }
}

.tag {
  margin-block-start: 16px;
}

.summary {
  margin-block-start: 16px;
}

.post {
  padding: 16px 16px;

  position: relative;

  border-radius: 8px;

  // Link area Delegation のために、カーソルを変える
  cursor: pointer;

  .backgroundImage {
    object-fit: cover;
    object-position: 0 calc(50% - 10px);

    z-index: -1;
    filter: contrast(calc(1 + var(--faded-contrast-factor) * 0.8))
      brightness(calc(1 + var(--faded-brightness-factor) * 0.8));
  }

  &:hover > .backgroundImage {
    object-position: 50% calc(50% - 5px);
    transition-duration: 1s;
    filter: contrast(calc(1 + var(--faded-contrast-factor) * 0.5))
      brightness(calc(1 + var(--faded-brightness-factor) * 0.5));
  }

  .postTitle {
    text-wrap: pretty;
    word-break: auto-phrase;

    font-size: 1.4rem;
    line-height: 1.3;

    font-feature-settings: "palt", "kern";
    letter-spacing: 0.05rem;

    a:not(:hover) {
      color: var(--color-text-accent);
    }

    a:hover {
      color: var(--color-text-link);
    }
  }

  .postDesc {
    text-wrap: pretty;
    word-break: auto-phrase;

    font-size: 0.9rem;
    margin-block-start: 0.4rem;
    line-height: 1.5;
  }

  .postNumbers {
    font-size: 0.8rem;
    display: flex;
    gap: 8px;

    & > span {
      display: inline-flex;
      align-items: center;
    }
  }

  .tags {
    display: flex;
    gap: 0.25ch;
    align-items: center;

    color: var(--color-text-secondary);

    .tagsIcon {
      transform: translateY(2px);
    }

    a:not(:hover) {
      color: inherit;
    }
  }

  @media screen and (min-width: 960px) {
    padding: 32px 48px;

    .postTitle {
      font-size: 1.8rem;
    }

    .postDesc {
      font-size: 1rem;
    }

    .postNumbers {
      font-size: 1rem;
    }
  }
}
