.code-highlight {
  // 行単位とハイライト等
  // ref: https://github.com/timlrx/rehype-prism-plus#styling
  float: left;
  /* 1 */
  min-width: 100%;
  /* 2 */

  --color-text-line-number: oklch(from white 0.5 c h);

  .code-line {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border-left: 4px solid rgba(0, 0, 0, 0);
    /* Set placeholder for highlight accent border color to transparent */

    @mixin line-number {
      &.line-number::before {
        @content;
      }
    }

    @include line-number {
      display: inline-block;
      width: 1rem;
      text-align: right;
      margin-right: 16px;
      margin-left: -8px;
      color: var(--color-text-line-number);
      /* Line number color */
      content: attr(line);
    }

    &.deleted {
      background-color: oklch(from red l c h / 0.2);

      @include line-number {
        color: oklch(from var(--color-text-line-number) 0.9 c h);
      }
    }

    &.inserted {
      background-color: oklch(from green l c h / 0.2);

      @include line-number {
        color: oklch(from var(--color-text-line-number) 0.9 c h);
      }
    }

    &.highlight-line {
      background-color: oklch(from cyan l c h / 0.1);
      border-left: 4px solid cyan;

      @include line-number {
        color: oklch(from var(--color-text-line-number) 0.9 c h);
      }
    }
  }

  // ここから、トークンの色指定
  .token.comment {
    color: oklch(from green 0.55 0.1 h);
  }

  .token.string {
    color: oklch(from orange 0.7 0.25 h);
  }

  .token.keyword {
    color: oklch(from violet 0.7 0.25 h);
  }

  .token.number {
    color: oklch(from yellowgreen 0.8 0.25 h);
  }

  .token.function {
    color: oklch(from yellow 0.85 0.25 h);
  }

  .token.maybe-class-name {
    color: oklch(from green 0.75 0.25 h);
  }

  .token.tag > *:not(.script) {
    color: oklch(from yellow 0.8 0.12 h);
  }
}
